<div class=\'modal-content\'>
  <div class=\'modal-content-inner\'>
    <h1>LN-URL Request</h1>
    <div class=\'modal-content-inner-row\'>
      <div id=\'qr_code\'></div>
      <textarea id=\'pay_req_text\'></textarea>
    </div>
    <br>
    <p>Use your lnurl enabled lightning wallet to scan this qr code to withdraw your balance</p>
  </div>

  <div class=\'modal-content-inner\'>
    <h1>Withdraw by invoice</h1>
    <input placeholder=\"lightning invoice..\" name=\"ln_invoice\" required></input>
    <a class=\'btn\' onclick=\'submit_invoice()\'> Submit invoice for withdrawl</a>
  </div>
</div>
